In [317]:
import numpy as np
import pandas as pd

In [318]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [319]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [320]:
credits.head(1)["cast"].values

array(['[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'],
      dtype=object)

In [321]:
movies=movies.merge(credits,on="title")

In [322]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [323]:
# here i have to ask question that whether the column is useful for me to make a tag out of the columns
# if yes then i have to take these columns for my model

# Genres , id , keywords , title , overview , cast , crew

movies=movies[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [324]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [325]:
movies.shape

(4809, 7)

In [326]:
# Missing data imputation
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [327]:
movies.dropna(inplace=True)

In [328]:
movies.duplicated().sum()

0

In [329]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [330]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# i want to create all this into ["Action" , "Adventure" ,"Fantasy","Science Fiction"]

In [331]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [332]:
# to make the id integer we do the following
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [333]:
movies["genres"]=movies["genres"].apply(convert)

In [334]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [335]:
movies["keywords"]=movies["keywords"].apply(convert)

In [336]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [337]:
movies["cast"][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [338]:
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i["name"])
            counter+=1
        else:
            break
    return l

In [339]:
movies["cast"]=movies["cast"].apply(convert3)

In [340]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [341]:
# for crew
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i["job"] == "Director":
            l.append(i["name"])
            break
    return l

In [342]:
movies["crew"]=movies["crew"].apply(fetch_director)

In [343]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [344]:
movies["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [345]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [346]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [347]:
movies["genres"]=movies["genres"].apply(lambda x : [i.replace(" ","") for i in x])
movies["keywords"]=movies["overview"].apply(lambda x:[i.replace(" ","") for i in x])
movies["cast"]=movies["cast"].apply(lambda x : [i.replace(" ","") for i in x])
movies["crew"]=movies["crew"].apply(lambda x:[i.replace(" ","") for i in x])

In [348]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [349]:
movies["tags"]=movies["overview"]+movies["genres"]+movies["keywords"]+movies["cast"]+movies["crew"]

In [350]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [351]:
movies["tags"][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [352]:
new_df=movies[["movie_id","title","tags"]]

In [353]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [354]:
# converting the tags list into string
new_df["tags"]=new_df["tags"].apply(lambda x: " ".join(x))

C:\Users\pares\AppData\Local\Temp\ipykernel_29020\2803207189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(lambda x: " ".join(x))

In [355]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [356]:
!pip install nltk

Requirement already satisfied: nltk in d:\anaconda\lib\site-packages (3.8.1)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\anaconda\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click->nltk) (0.4.6)

In [357]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [358]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

# Here basically we are doing that ["loved","Loving","Love'] all becomes ==> ["love","love","love"]

In [359]:
new_df["tags"]=new_df["tags"].apply(stem)

C:\Users\pares\AppData\Local\Temp\ipykernel_29020\1027202188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(stem)

In [360]:
new_df["tags"][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron'

In [361]:
new_df["tags"]=new_df["tags"].apply(lambda x:x.lower())

C:\Users\pares\AppData\Local\Temp\ipykernel_29020\4024514323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(lambda x:x.lower())

In [362]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [363]:
# Text Vectorization : it is mainly used to find the similarity between the text sentences
# here The idea is Concatenating of all the tags and i mainly find out the 5000 most common
# words .
# After that i mainly search in each tag of a sngle row how many times these 5000 most
# common words are present .. Similarly i calculate for every tag and i got a 5000x5000
# dataset and all rows in this dataset is acts as a vector
# here we are not use any stop words ex: are,is,of,the,it,then,from,him,to etc ....

In [364]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")

In [365]:
vectors=cv.fit_transform(new_df["tags"]).toarray()

In [366]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [367]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [368]:
# To see the 5000 features
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [369]:
# Here we have to calculate the distance between the vectors so that the lowest distance 
# vectors is more similar to other .
# Here instead of calculating the euclidean distance we mainly calculate the angle
# between the two vectors . ---> Less angle ===> More Similar
# More angle ===> Less Similar

In [370]:
from sklearn.metrics.pairwise import cosine_similarity

In [371]:
similarity=cosine_similarity(vectors)

In [372]:
similarity[1]

array([0.0487821 , 1.        , 0.02729755, ..., 0.0391649 , 0.        ,
       0.04181667])

In [373]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1]) # Here iam saying
# to sort the list according to the 1st index because this enumerate function creates a 
# list which stores index at 0th index and value at the 1st index and we want to sort the
# list according to the value not according to the index

[(0, 1.0000000000000004),
 (529, 0.24495681302175637),
 (3606, 0.2427985611450271),
 (3081, 0.23515854050088617),
 (1214, 0.1947335280669588),
 (2997, 0.1937292372609954),
 (778, 0.19172686248267184),
 (172, 0.181428752857415),
 (942, 0.17746888426510618),
 (2670, 0.1763689053756646),
 (2782, 0.17124693631268542),
 (2368, 0.1677260653811806),
 (2144, 0.16428080438455575),
 (3671, 0.16230861351605888),
 (2969, 0.1605105329044797),
 (275, 0.15875015875023812),
 (972, 0.15522237744467726),
 (507, 0.15155381418936653),
 (973, 0.1506425348078136),
 (4046, 0.14767334948009916),
 (449, 0.14763464883937316),
 (4405, 0.1466471150213533),
 (568, 0.14664711502135327),
 (1612, 0.14567913668701624),
 (3460, 0.145143002285932),
 (3997, 0.14486229661620947),
 (200, 0.14149998919097345),
 (2737, 0.14024817836330358),
 (668, 0.13940074958772602),
 (1202, 0.1363333765243548),
 (1451, 0.13617232109125663),
 (1346, 0.13576884666042616),
 (1252, 0.1345726220504978),
 (61, 0.133407469193014),
 (3714, 0.133407469193014),
 (4009, 0.133407469193014),
 (3632, 0.13240678533309402),
 (139, 0.13214769150323347),
 (3338, 0.13169299692382677),
 (3620, 0.13169299692382677),
 (91, 0.13141883673209098),
 (2768, 0.13116516715679058),
 (138, 0.13111122301831463),
 (151, 0.13068205256070964),
 (4266, 0.13020423724033672),
 (4483, 0.13020423724033672),
 (1440, 0.1296741071158002),
 (27, 0.12961896184130317),
 (1771, 0.128144295400657),
 (1342, 0.12752819633404627),
 (36, 0.1270001270001905),
 (1526, 0.1270001270001905),
 (2405, 0.1270001270001905),
 (31, 0.12572371141874245),
 (2589, 0.12412427959034776),
 (236, 0.1239758806193046),
 (1199, 0.12361284651454937),
 (678, 0.1233534278728621),
 (3980, 0.12325298302457476),
 (127, 0.12245816047280109),
 (3779, 0.12211366346410908),
 (311, 0.12164405986720692),
 (1164, 0.12143534814378326),
 (1655, 0.12138405549180385),
 (286, 0.12105731450750219),
 (1087, 0.12072459044956385),
 (262, 0.1206825397363161),
 (937, 0.12000384018432982),
 (2200, 0.11947166975644635),
 (1475, 0.11884169929036818),
 (4351, 0.11810771907149853),
 (1916, 0.11791665765914455),
 (150, 0.11769141073396812),
 (3728, 0.11757927025044308),
 (2056, 0.11726944291283467),
 (1961, 0.11723796540779496),
 (342, 0.11680316097510536),
 (455, 0.11665706565717286),
 (582, 0.1164208255434666),
 (2327, 0.11620402679752966),
 (2329, 0.1140646864203468),
 (1235, 0.11359236684941297),
 (3193, 0.11359236684941296),
 (1530, 0.11339125893095842),
 (2618, 0.11288900177794711),
 (513, 0.11269438939029221),
 (2648, 0.11262324911748414),
 (256, 0.11235088294097073),
 (72, 0.11219854269064287),
 (2071, 0.11219854269064287),
 (2552, 0.11208048331201154),
 (68, 0.11200358417204116),
 (483, 0.11200358417204116),
 (935, 0.11114923467068591),
 (3150, 0.11085479909473867),
 (1902, 0.11078941731429745),
 (3, 0.11055924799242166),
 (122, 0.11026698931685078),
 (495, 0.11026698931685078),
 (1482, 0.11020078277271521),
 (1515, 0.10998533626601498),
 (1397, 0.10971139976028736),
 (986, 0.10930430596399217),
 (74, 0.10890171046725802),
 (134, 0.108857251714449),
 (1484, 0.108857251714449),
 (4008, 0.108857251714449),
 (777, 0.10842833686956578),
 (3879, 0.10803360367692807),
 (539, 0.10780719313589705),
 (3162, 0.10769589230459234),
 (584, 0.10733469768527294),
 (1159, 0.10705186531570647),
 (2641, 0.1067014491044368),
 (187, 0.10658540616732734),
 (149, 0.10652035789773552),
 (4652, 0.10650584591684607),
 (312, 0.1062028414737951),
 (2111, 0.10587846509490659),
 (602, 0.10583343916682542),
 (2291, 0.10479250341244922),
 (4085, 0.10479250341244922),
 (1319, 0.10439346133241541),
 (3391, 0.10369516947304254),
 (467, 0.10355263309024071),
 (7, 0.10348246120911164),
 (1819, 0.10348246120911164),
 (3752, 0.10315927353690083),
 (987, 0.10274816178761126),
 (589, 0.10267351727228291),
 (2580, 0.10182663499531962),
 (3619, 0.10182663499531962),
 (1369, 0.1018266349953196),
 (2157, 0.1018266349953196),
 (3718, 0.10168147934776052),
 (843, 0.10160010160015241),
 (2212, 0.10160010160015241),
 (2756, 0.10115153383942016),
 (4110, 0.10109587962126507),
 (3872, 0.10103587612624434),
 (790, 0.10085097716715756),
 (373, 0.10040241611281236),
 (2630, 0.10040241611281236),
 (3726, 0.10040241611281236),
 (4016, 0.10005560189476051),
 (2105, 0.09978072334820828),
 (1119, 0.0991107686274251),
 (1054, 0.09886946477802763),
 (1767, 0.09874025978425863),
 (14, 0.09868274229828967),
 (170, 0.09798272520870256),
 (2441, 0.09798272520870256),
 (3877, 0.09765317793025254),
 (319, 0.0975642000731156),
 (1107, 0.09756420007311559),
 (4538, 0.09729871876449238),
 (2215, 0.09687189593929657),
 (2888, 0.09683668899794139),
 (487, 0.0967741935483871),
 (1843, 0.09660122791674566),
 (595, 0.09655640855770944),
 (3329, 0.09654333005456016),
 (577, 0.0964256849261258),
 (581, 0.0964256849261258),
 (1276, 0.0962580608360121),
 (1443, 0.09600307214746386),
 (2129, 0.09591852517188469),
 (570, 0.09572994763343545),
 (2511, 0.09572994763343545),
 (1354, 0.0956243603274635),
 (3836, 0.09557733580515708),
 (4044, 0.09557733580515708),
 (1487, 0.09545914101554802),
 (859, 0.09515721361396132),
 (217, 0.09492435170389503),
 (1002, 0.09476781318792941),
 (189, 0.09466030570784414),
 (3917, 0.09433332612731564),
 (2646, 0.09388119529247299),
 (1192, 0.09379580992210836),
 (4190, 0.09379580992210836),
 (4472, 0.09379580992210836),
 (1635, 0.09362573578414228),
 (2809, 0.09313666043477328),
 (102, 0.09313342646680636),
 (1978, 0.09274777915203367),
 (168, 0.09274777915203365),
 (1918, 0.09274777915203365),
 (331, 0.09262436222557159),
 (1434, 0.09165444688834581),
 (871, 0.09160972649198343),
 (1238, 0.09107651110783745),
 (1272, 0.09107651110783743),
 (174, 0.09073327328891223),
 (993, 0.0907143764287075),
 (3070, 0.0907143764287075),
 (111, 0.09026436434478823),
 (1035, 0.09026436434478823),
 (3082, 0.09015551151223376),
 (3223, 0.09008110951428376),
 (307, 0.09003261976640275),
 (476, 0.08980265101338747),
 (1078, 0.08980265101338747),
 (2876, 0.08980265101338744),
 (420, 0.08952675896042725),
 (870, 0.08945390153662966),
 (1880, 0.08918544334893944),
 (445, 0.0891091838708226),
 (4754, 0.0891091838708226),
 (3976, 0.08891787425369733),
 (234, 0.08843153765707638),
 (2228, 0.08843153765707638),
 (230, 0.08835412617927488),
 (1097, 0.08818445268783232),
 (866, 0.08805874420954336),
 (3394, 0.08805874420954336),
 (26, 0.08802420459487496),
 (4403, 0.08798826901281197),
 (192, 0.08744344477119373),
 (899, 0.08740748201220974),
 (2647, 0.08740748201220974),
 (300, 0.08717370924267563),
 (3495, 0.08712136837380642),
 (3669, 0.08712136837380642),
 (1602, 0.08683804610033365),
 (3586, 0.08665069303180502),
 (2850, 0.08641264122753545),
 (3101, 0.08641264122753545),
 (634, 0.08627959628145761),
 (1069, 0.08627959628145761),
 (1327, 0.08627959628145761),
 (2764, 0.08617608143160957),
 (3551, 0.08615695287009191),
 (3091, 0.08601533962316439),
 (745, 0.08594295981916228),
 (1189, 0.08567155772382752),
 (2214, 0.08562346815634272),
 (1068, 0.08556272074312186),
 (45, 0.08523690424912796),
 (148, 0.08519427513705972),
 (1173, 0.08519427513705972),
 (166, 0.08515084190704485),
 (729, 0.08496227317903608),
 (40, 0.08476290894688449),
 (1527, 0.08466675133346033),
 (4606, 0.08466675133346033),
 (2293, 0.08410788878156113),
 (3483, 0.084084842366885),
 (4263, 0.084084842366885),
 (1779, 0.08392404618188455),
 (1534, 0.08379835144077331),
 (1966, 0.08379835144077331),
 (3297, 0.08379835144077331),
 (3746, 0.08379835144077331),
 (1273, 0.08364044975263561),
 (1684, 0.08364044975263561),
 (2201, 0.08351476906593233),
 (762, 0.08337966824563375),
 (2252, 0.08337966824563375),
 (3889, 0.08337966824563375),
 (1458, 0.08336192600301442),
 (2515, 0.08326509804666221),
 (369, 0.08326256191221615),
 (281, 0.0832340463588225),
 (1379, 0.08314109932105399),
 (2049, 0.08314109932105399),
 (438, 0.08295613557843404),
 (1303, 0.08295613557843404),
 (1493, 0.08284574812357672),
 (2237, 0.08267004114290565),
 (219, 0.0826505870795364),
 (1257, 0.0826505870795364),
 (2861, 0.0826505870795364),
 (2096, 0.08240856434303293),
 (4234, 0.08240856434303293),
 (83, 0.08227502258563951),
 (4392, 0.0820626995927481),
 (626, 0.08197822947299412),
 (3308, 0.08185201195476006),
 (1737, 0.08163877364853406),
 (654, 0.08160716542370013),
 (596, 0.08160716542370011),
 (2736, 0.08160716542370011),
 (472, 0.08149457788042662),
 (1578, 0.08134518347820842),
 (3884, 0.08134518347820842),
 (244, 0.08130350006092966),
 (1703, 0.08130350006092966),
 (2813, 0.08122955416108235),
 (11, 0.08108570854765951),
 (126, 0.08081826263648487),
 (4279, 0.08064516129032258),
 (3421, 0.08007209734603),
 (1280, 0.08000256012288655),
 (2351, 0.08000256012288655),
 (1013, 0.07987938443763455),
 (2446, 0.07983463658557796),
 (199, 0.07951465679458908),
 (2822, 0.07944407119985641),
 (229, 0.07934434758870222),
 (3503, 0.07933635037580193),
 (3558, 0.07925286978858903),
 (1007, 0.07901579815429607),
 (2126, 0.07885697226877511),
 (1320, 0.07861110510609638),
 (1473, 0.07846094048931208),
 (572, 0.07838618016696206),
 (2667, 0.07838618016696206),
 (2849, 0.07838618016696206),
 (3773, 0.07838618016696206),
 (3939, 0.07838618016696206),
 (847, 0.07821179467805509),
 (294, 0.07817962860855644),
 (1488, 0.0781631749350903),
 (2966, 0.07795203095354505),
 (1212, 0.07792372079065259),
 (4348, 0.07777137710478191),
 (131, 0.07767236830957341),
 (1625, 0.0774693511983531),
 (2569, 0.0774693511983531),
 (3936, 0.0774693511983531),
 (4757, 0.0774693511983531),
 (5, 0.07679797983220116),
 (402, 0.07658395810674837),
 (1694, 0.07658395810674837),
 (2177, 0.07658395810674837),
 (786, 0.07651301417479452),
 (4, 0.07623119732708063),
 (2068, 0.07623119732708063),
 (3803, 0.0762000762001143),
 (1954, 0.07593948136311603),
 (4691, 0.07589709258986453),
 (87, 0.07582190971594881),
 (2372, 0.07572824456627532),
 (2428, 0.07572824456627532),
 (3238, 0.07572824456627532),
 (3517, 0.07572824456627532),
 (4651, 0.07572824456627532),
 (4679, 0.07572824456627532),
 (889, 0.07562747506779043),
 (1804, 0.07540407125265837),
 (1722, 0.07536071065605802),
 (854, 0.07508216607832277),
 (1697, 0.07508216607832277),
 (3353, 0.07508216607832277),
 (41, 0.07486738065023163),
 (2727, 0.07483554251115622),
 (4077, 0.07483554251115622),
 (894, 0.07472032220800769),
 (3018, 0.07449680892769366),
 (1688, 0.07434198903165658),
 (3283, 0.07434198903165658),
 (3912, 0.07409948978045727),
 (3006, 0.07401205672371726),
 (615, 0.07381732441968658),
 (951, 0.07381732441968658),
 (2393, 0.0737804065256947),
 (75, 0.07366539413071052),
 (1745, 0.07366539413071052),
 (143, 0.07332355751067665),
 (699, 0.07332355751067665),
 (2132, 0.07332355751067665),
 (3178, 0.07332355751067665),
 (3320, 0.07332355751067665),
 (3481, 0.07332355751067665),
 (4641, 0.07332355751067665),
 (2816, 0.0728297905639697),
 (4693, 0.07265392195447243),
 (693, 0.072571501142966),
 (1409, 0.072571501142966),
 (2384, 0.072571501142966),
 (3974, 0.072571501142966),
 (3994, 0.072571501142966),
 (4619, 0.072571501142966),
 (4622, 0.072571501142966),
 (2566, 0.07243475426973832),
 (1299, 0.0723259116022882),
 (1813, 0.07220404814318432),
 (2400, 0.07210749380015381),
 (461, 0.0720023041105979),
 (797, 0.07184212081070997),
 (3096, 0.07184212081070997),
 (4587, 0.07184212081070997),
 (794, 0.0716830018538678),
 (3426, 0.0716830018538678),
 (3808, 0.07164736899051821),
 (341, 0.07136791021047098),
 (833, 0.07136791021047098),
 (322, 0.07113429940295786),
 (3124, 0.07113429940295786),
 (3731, 0.07113429940295786),
 (3987, 0.07113429940295786),
 (1176, 0.0710569374448849),
 (2249, 0.0710569374448849),
 (3768, 0.0709952292808831),
 (3899, 0.0709952292808831),
 (182, 0.07094999497920207),
 (3390, 0.07078814504020879),
 (4448, 0.07067387838776339),
 (2222, 0.07061695217765014),
 (1556, 0.07055562611121695),
 (1663, 0.07055562611121695),
 (2955, 0.07055562611121695),
 (94, 0.0704469953676347),
 (2267, 0.0704469953676347),
 (2617, 0.0704469953676347),
 (4214, 0.0704469953676347),
 (932, 0.07044699536763468),
 (2031, 0.07044699536763468),
 (2239, 0.07044699536763468),
 (1533, 0.07028169127896865),
 (3296, 0.07027825980708813),
 (154, 0.07012408918165179),
 (3837, 0.07012408918165179),
 (447, 0.0698465063437458),
 (734, 0.0698465063437458),
 (1651, 0.06977923626520519),
 (2721, 0.06977923626520519),
 (4006, 0.06977923626520519),
 (3659, 0.06970037479386301),
 (175, 0.06956083436402524),
 (4798, 0.06945239963814016),
 (1453, 0.0694193065788267),
 (405, 0.06928424943421166),
 (3952, 0.06928424943421166),
 (2873, 0.06913011298202835),
 (3787, 0.06913011298202835),
 (4070, 0.06913011298202835),
 (4477, 0.06913011298202835),
 (3160, 0.06899985073517823),
 (2018, 0.0689883074727411),
 (160, 0.06880058383913533),
 (3218, 0.06849877452507418),
 (3312, 0.06849877452507418),
 (3569, 0.06849877452507418),
 (3719, 0.06849877452507418),
 (1384, 0.06847387945809709),
 (1465, 0.06847387945809709),
 (650, 0.06842968850192396),
 (3924, 0.06842968850192396),
 (412, 0.06838468376933335),
 (47, 0.06834362421368373),
 (228, 0.06818325569182102),
 (43, 0.06815542010964779),
 (863, 0.06807921404144805),
 (2305, 0.06807921404144805),
 (1062, 0.06788442333021308),
 (1066, 0.06788442333021308),
 (1969, 0.06788442333021308),
 (2985, 0.06788442333021308),
 (184, 0.06788442333021306),
 (270, 0.06788442333021306),
 (2445, 0.06788442333021306),
 (2585, 0.06769129513423529),
 (2124, 0.06761663363417532),
 (4336, 0.06761663363417532),
 (235, 0.06735198826004059),
 (121, 0.06730993269037021),
 (3251, 0.06730993269037021),
 (1702, 0.0672863110252489),
 (2475, 0.0672863110252489),
 (3751, 0.0672863110252489),
 (4137, 0.0672863110252489),
 (4655, 0.0672863110252489),
 (3053, 0.06728631102524889),
 (4330, 0.06700391363917792),
 (3849, 0.06693494407520824),
 (3100, 0.06683188790311695),
 (4657, 0.06683188790311695),
 (58, 0.0668213987108836),
 (1326, 0.066703734596507),
 (2808, 0.066703734596507),
 (441, 0.06656615369802879),
 (1139, 0.06656615369802879),
 (2224, 0.06656615369802879),
 (2820, 0.06656615369802879),
 (3547, 0.06656615369802879),
 (4310, 0.06656043961984341),
 (4626, 0.06632365324280728),
 (3405, 0.0662622139954909),
 (2028, 0.06621227843165871),
 (617, 0.06620339266654701),
 (2880, 0.06620339266654701),
 (526, 0.06613603291432452),
 (1229, 0.06613603291432452),
 (2596, 0.06613603291432452),
 (4332, 0.06613603291432452),
 (2220, 0.06584649846191339),
 (2231, 0.06584649846191339),
 (2470, 0.0657196424187554),
 (4627, 0.0657196424187554),
 (781, 0.0655825835783953),
 (2831, 0.0655825835783953),
 (1492, 0.0655380150488996),
 (807, 0.06549531463278076),
 (838, 0.06536064526481745),
 (2545, 0.06536064526481745),
 (93, 0.06534102628035482),
 (106, 0.06534102628035482),
 (1291, 0.06534102628035482),
 (3253, 0.06534102628035482),
 (3441, 0.06534102628035482),
 (349, 0.06504280004874373),
 (473, 0.06486581250966159),
 (1519, 0.06486581250966159),
 (2535, 0.0646465965649679),
 (480, 0.0641720405573414),
 (3089, 0.0641720405573414),
 (3753, 0.0641720405573414),
 (3299, 0.06414475072384818),
 (616, 0.06400204809830924),
 (1479, 0.06400204809830924),
 (1569, 0.06400204809830924),
 (3127, 0.06400204809830924),
 (540, 0.06394568344792313),
 (365, 0.06381996508895697),
 (1610, 0.06372170488427706),
 (3470, 0.06372170488427706),
 (3701, 0.06372170488427706),
 (263, 0.06350006350009525),
 (1476, 0.06350006350009525),
 (1523, 0.06350006350009525),
 (1993, 0.06350006350009525),
 (3107, 0.06350006350009525),
 (3366, 0.06350006350009525),
 (4540, 0.06350006350009525),
 (3793, 0.06328071892930043),
 (3775, 0.06325346038014455),
 (4506, 0.06325346038014455),
 (1755, 0.06318492476329067),
 (1874, 0.06317854212528629),
 (1034, 0.06300970818105758),
 (2723, 0.06300970818105758),
 (1247, 0.06287443185348211),
 (213, 0.06263607679944924),
 (302, 0.06263607679944924),
 (181, 0.06256847173193564),
 (2806, 0.06256847173193564),
 (1549, 0.06253053994807224),
 (1845, 0.06253053994807224),
 (2186, 0.06253053994807224),
 (2911, 0.06253053994807224),
 (4581, 0.06253053994807224),
 (646, 0.06226693517333974),
 (787, 0.06226693517333974),
 (492, 0.06221710168382553),
 (535, 0.06221710168382553),
 (773, 0.06206213979517388),
 (1075, 0.06206213979517388),
 (2636, 0.06206213979517388),
 (4042, 0.06206213979517388),
 (4474, 0.06206213979517388),
 (4486, 0.06206213979517388),
 (2301, 0.062010742569135927),
 (3933, 0.06201074256913592),
 (454, 0.061969716601979453),
 (1850, 0.061969716601979453),
 (2005, 0.06167671393643105),
 (3618, 0.06160411036336975),
 (1541, 0.06160411036336974),
 (1923, 0.06160411036336974),
 (1930, 0.06160411036336974),
 (2634, 0.06160411036336974),
 (2783, 0.06160411036336974),
 (3199, 0.06160411036336974),
 (982, 0.06138782844225877),
 (3384, 0.06138782844225877),
 (4590, 0.06138782844225877),
 (1914, 0.06137886606124274),
 (1685, 0.06126716648539868),
 (2986, 0.061205374067775084),
 (1027, 0.06115607452367586),
 (2195, 0.06115607452367586),
 (2679, 0.06115607452367586),
 (2905, 0.06115607452367586),
 (4144, 0.06115607452367586),
 (1147, 0.06110296459223054),
 (3626, 0.06110296459223054),
 (782, 0.06100888760865631),
 (576, 0.06082202993360346),
 (3387, 0.06081428141074463),
 (232, 0.06071767407189163),
 (3486, 0.06071767407189163),
 (823, 0.06054493496206036),
 (3536, 0.06054493496206036),
 (4164, 0.06054493496206036),
 (2045, 0.06034126986815805),
 (404, 0.06028856852484642),
 (931, 0.06028856852484641),
 (2280, 0.06027159300190683),
 (557, 0.060241449667687415),
 (4017, 0.060241449667687415),
 (2494, 0.060073113012857345),
 (775, 0.06000192009216491),
 (686, 0.05986843400892498),
 (1014, 0.05986843400892498),
 (1741, 0.05986843400892498),
 (2588, 0.05986843400892497),
 (631, 0.059735834878223176),
 (1436, 0.059735834878223176),
 (3020, 0.059735834878223176),
 (35, 0.05950226278185145),
 (1414, 0.05950226278185145),
 (1004, 0.05947325850872581),
 (957, 0.059456962232626295),
 (1399, 0.059456962232626295),
 (1946, 0.059456962232626295),
 (2370, 0.059456962232626295),
 (2619, 0.059456962232626295),
 (3275, 0.059456962232626295),
 (3314, 0.059456962232626295),
 (814, 0.05932167886681658),
 (3628, 0.05932167886681658),
 (396, 0.05921411453740408),
 (4558, 0.05921411453740408),
 (4775, 0.05921411453740408),
 (4098, 0.059153866143437255),
 (1654, 0.059053859535749265),
 (2134, 0.059053859535749265),
 (2710, 0.059053859535749265),
 (2711, 0.059053859535749265),
 (3304, 0.059053859535749265),
 (4232, 0.059053859535749265),
 (2848, 0.05896538928451999),
 (361, 0.05870582947302891),
 (152, 0.05865884600854131),
 (380, 0.05865884600854131),
 (1485, 0.05865884600854131),
 (475, 0.058615443230857156),
 (735, 0.058615443230857156),
 (1085, 0.058615443230857156),
 (4560, 0.05845654669311946),
 (508, 0.058456546693119456),
 (1017, 0.05844279059298944),
 (1392, 0.05844279059298944),
 (23, 0.058271654674806495),
 (3509, 0.058271654674806495),
 (4799, 0.058210412771733305),
 (525, 0.0582104127717333),
 (1445, 0.0582104127717333),
 (1295, 0.05796736197002103),
 (3318, 0.05796736197002103),
 (2901, 0.05793384513462566),
 (878, 0.05789203073355576),
 (2584, 0.05789203073355576),
 (3818, 0.05789203073355576),
 (4437, 0.05789203073355576),
 (95, 0.057892030733555755),
 (3609, 0.057767128687870005),
 (38, 0.05774681318568104),
 (299, 0.057601843288478324),
 (2260, 0.057601843288478324),
 (991, 0.057519730854305076),
 (1805, 0.057519730854305076),
 (4141, 0.057519730854305076),
 (4580, 0.057519730854305076),
 (1894, 0.05750468711641098),
 (4624, 0.057490256227284244),
 (2102, 0.05743796858006127),
 (206, 0.05726558135264385),
 (901, 0.05725607905748964),
 (2638, 0.05725607905748964),
 (46, 0.057154522521593115),
 (2739, 0.057154522521593115),
 (3927, 0.057154522521593115),
 (4632, 0.057154522521593115),
 (208, 0.056796183424706485),
 (3388, 0.056796183424706485),
 (1302, 0.05679618342470648),
 (1432, 0.05679618342470648),
 (995, 0.05663907058313298),
 (29, 0.05648325441285857),
 (1043, 0.056444500888973556),
 (2935, 0.056347194695146104),
 (233, 0.05617544147048537),
 (969, 0.05617544147048537),
 (9, 0.05612665688336716),

In [384]:
def recommend(movie):
    # To find out the index of a given movie
    movie_index=new_df[new_df["title"] == movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [390]:
recommend("Batman")

Batman
The R.M.
Sexy Beast
Curse of the Golden Flower
Stripes

In [392]:
import pickle

In [394]:
pickle.dump(new_df,open("movies.pkl","wb"))

In [396]:
pickle.dump(new_df.to_dict(),open("movie_dict.pkl","wb"))

In [398]:
pickle.dump(similarity,open('similarity.pkl','wb'))